<h2 mat-dialog-title>{{title}}</h2>

<form [formGroup]="pokemonForm" (ngSubmit)="onSubmit()">
  <div class="form">
    <mat-form-field appearance="outline">
      <mat-label>identifiant</mat-label>
      <input matInput formControlName="id" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <input matInput formControlName="type" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Poids</mat-label>
      <input matInput formControlName="poids" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Taille</mat-label>
      <input matInput formControlName="taille" />
    </mat-form-field>
  </div>


  <mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close>Annuler</button>
    <button mat-raised-button type="submit" cdkFocusInitial color="warn" [disabled]="!pokemonForm.valid || !pokemonForm.dirty">{{submitBtnName}}</button>
  </mat-dialog-actions>
</form>